<h1>Eat Da Burger!</h1>

<form class="create-form">
  <div class="form-group">
    <label for="burger"></label>
    <textarea rows="4" cols="50" id="burger" name="burger_name"></textarea>
  </div>

  <button type="submit">Submit</button>
  <div id="subcaption">Enter a burger you want to eat - Click the "submit" button.</div>
</form>