

body {
  background-image: linear-gradient(white, white, #9fa8da);
  min-height: 100vh;
  font-family: "Rock Salt", cursive;
  font-size: 1rem;
  overflow: auto;
}

.btn,
.btn-small {
  font-family: "Rock Salt", cursive;
  font-size: 0.5rem;
  background-color: #b71c1c;
}

.btn-small {
  margin-left: 0.75rem;
  margin-top: 0.25rem;
}

.btn {
  margin-bottom: 1rem;
}

.title-pic {
  height: 20vh;
}

.logo {
  animation-name: dropdown;
  animation-duration: .75s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  position: relative;
}

.menu {
  animation-name: fromLeft;
  animation-duration: .75s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  position: relative;
}

#eaten {
  animation-name: fromRight;
  animation-duration: .75s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  position: relative;
}
@keyframes dropdown {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}

@keyframes fromLeft {
  0% {
    left: -400px;
  }

  100% {
    left: 0px;
  }
}

@keyframes fromRight {
  0% {
    right: -400px;
  }

  100% {
    right: 0px;
  }
}


@media only screen and (max-width: 411px){
  body {
    font-size: 1rem;
    min-height: 100%;
    background-image: linear-gradient(white, white, #9fa8da);

  }

  .btn,
  .btn-small {
    font-size: .5rem;
  }

  .input-field {
    font-size: 1rem;
  }

  #burger {
    margin-top: 2rem;
  }
  
}
