body {
  background-image: linear-gradient(white, white, #9fa8da);
  height: 100vh;
  font-family: "Rock Salt", cursive;
}

.btn,
.btn-small {
  font-family: "Rock Salt", cursive;
  font-size: 0.5rem;
  background-color: #b71c1c;
}

.btn-small {
  margin-left: 0.75rem;
  margin-top: 0.25rem;
}

.btn {
  margin-bottom: 1rem;
}

.title-pic {
  height: 20vh;
}
